/* Section 1 */
.createaccount section1{
  box-sizing: border-box;
  position: relative;
  width: 630px;
  height: 832px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

/* image 1 */
.createaccount img{
  position: relative;
  width: 630px;
  height: 832px;
  left: 0px;
  top: 0px;
}

/* image 1 */
.createaccount img{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: url(image.png);
}

.createaccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px; /* Adjust as needed */
}

section2,
h1,
.signup-button {
  box-sizing: border-box;
  position: relative;
  width: 650px;
  height: 832px;
  left: 300px;
  top: -50px;
  background: #FFFFFF;
  border-radius: 2px;
  font-family: 'Graduate';
  font-style: bold;
  font-weight: 400;
  font-size: 40px;
  line-height: 34px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px; 
}

label {
  display: flex;
  font-family: 'Graduate';
  color: #9F9D9D;
  flex-direction: column;
  margin-bottom: 20px; 
}



.signup-button {
  width: 470px;
  height: 64px;
  background-color: #121212;
  color: #FFFFFF;
  font-family: 'Graduate';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  top: -450px;
}

/* Individual input styling */
.input-field {

}


#firstname {

box-sizing: border-box;
position: absolute;
width: 205px;
height: 50px;
right: 450px;
top: 115px;

background: #FFFFFF;
border: 1px solid #000000;
}

#lastname {

box-sizing: border-box;
position: absolute;
width: 205px;
height: 50px;
right: 179px;
top: 115px;

background: #FFFFFF;
border: 1px solid #000000;

}

#email {

box-sizing: border-box;
position: absolute;
width: 467px;
height: 50px;
right: 186px;
top: 209px;
background: #FFFFFF;
border: 1px solid #000000;
}

#username {

box-sizing: border-box;
position: absolute;
width: 467px;
height: 50px;
right: 186px;
top: 303px;

background: #FFFFFF;
border: 1px solid #000000;

}

#password {

box-sizing: border-box;
position: absolute;
width: 467px;
height: 50px;
right: 186px;
top: 397px;

background: #FFFFFF;
border: 1px solid #000000;

}

#confirmpassword {
box-sizing: border-box;

position: absolute;
width: 467px;
height: 50px;
right: 186px;
top: 497px;

background: #FFFFFF;
border: 1px solid #000000;

}
