/* Section 1 */
.createaccount {
  display: flex;
  box-sizing: border-box;
}

.createaccount .section1 {
  width: 50%;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.createaccount img {
  width: 100%;
  height: auto;
}

/* Section 2 */
.createaccount .section2 {
  width: 50%;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  font-family: 'Graduate';
  font-weight: bold;
  font-size: 40px;
  line-height: 34px;
  text-align: center;
  color: #000000;
}

.createaccount label {
  display: flex;
  font-family: 'Graduate';
  color: #9F9D9D;
  flex-direction: column;
  margin-bottom: 20px;
}

.createaccount .signup-button {
  width: 100%;
  height: 64px;
  background-color: #121212;
  color: #FFFFFF;
  font-family: 'Graduate';
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 10px;
}

/* Individual input styling */
.createaccount .input-field {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #000000;
  margin-bottom: 20px;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .createaccount {
    flex-direction: column;
  }

  .createaccount .section1,
  .createaccount .section2 {
    width: 100%;
  }
}


