
/*forgot password css*/

.forgot-password-root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.soleSwap-logo {
  width: 100px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.forgot-password-image-container {
  flex: 1;
  max-width: 50%;
}

.forgot-password-image-container img {
  width: 100%;
  height: auto;
}

.forgot-password-container {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password-form {
  width: 100%;
}

.input-field, .signup-button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .forgot-password-image-container, .forgot-password-container {
    max-width: 100%;
  }
}
