@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

#login-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: white;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 800px;
  box-sizing: border-box;
  padding: 20px;
}

.logo {
  height: 100px;
  width: auto;
}

.sign-up-login button {
  background-color: white;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  padding: 5px 10px;
  margin-left: 10px;
}

.image-container {
  width: 80%;
  max-width: 800px;
  margin: 20px 0;
}

.promo-image {
  width: 100%;
  height: auto;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  max-width: 400px;
  font-family: 'Graduate', cursive;
}

.login-title {
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 300px;
  margin-bottom: 10px;
}

.input-icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}

.login-input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border-radius: 5px;
  border: 1px solid #c9c9c9;
  background-color: #f9f9f9;
  color: black;
  box-sizing: border-box;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.login-utilities {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 300px;
}

.remember-me, .forgot-password-link {
  font-size: smaller;
  color: #000;
  font-family: 'Graduate', cursive;
}

.login-button, .create-account-button {
  width: 80%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: 'Graduate', cursive;
}

.login-button {
  background-color: #000;
  color: #fff;
}

.create-account-button {
  background-color: transparent;
  color: #000;
  font-size: smaller;
  text-align: center; 
  display: block; 
  width: fit-content; 
  margin: 0 auto; 
}