.img-container {
    position: relative;
  }
  
  .img-container img {
    width: 100%; 
    margin-left: -40%;
  }
  
  .figma-container {
    position: absolute;
    top: 10%; 
    right: -15%; 
    background: #FFFFFF;
    padding: 20px;
    border: 1px solid #000000;
  }
  
  
  .sole-swap {
    position: absolute;
    width: 221px;
    height: 77px;
    left: 33px;
    top: 67px;
    font-family: 'Graduate';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #000000;
    border: 1px solid #000000;
  }
  
  .rectangle-1 {
    position: absolute;
    width: 532px;
    height: 43px;
    left: 367px;
    top: 63px;
    background: #EAE9E9;
    border-radius: 35px;
  }
  
  .frame {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 386px;
    top: 73px;
  }
  

  