body, html {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: white;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%; 
  max-width: 800px; 
  box-sizing: border-box;
  padding: 20px;
}

/* nav styles  */
nav {
  margin-top: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black; /* Set text color to black */
}



.logo {
  height: 60px;
  width: auto;
}

/*  Search bar style  */
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 400px; 
  padding: 10px;
  box-sizing: border-box;
  border: none; 
  border-radius: 25px; 
  background-color: #ddd; 
  outline: none; /* Remove default focus outline */
  background-image: url('/path/to/magnifying-glass.png'); /* need magnifying glass image */
  background-size: 20px; /* change size of the magnifying glass image */
  background-repeat: no-repeat; 
  background-position: 10px center; 
}

/* Adjust the padding to make space for the magnifying glass image */
.search-bar input::placeholder {
  padding-left: 30px;
}

/* Button styles */
.sign-up-login {
  display: flex;
  align-items: center;
}

.sign-up-login button {
  margin-left: 10px;
}

.sign-up-login button,
.header-content .sign-up-login button {
  background-color: white; 
  color: black; /* text color black */
}

.header-content .sign-up-login button:last-child {
  background-color: white; 
  color: black; /* text black */
}

/*  Carousel styles  */
.carousel-container {
  width: 80%;
  max-width: 800px;
  margin-top: 20px; /* Adjust the margin as needed */
}







